
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(../imgs/fondoZo.jpg);
  background-attachment: fixed;
  background: cover;
}
.Conteiner-form{
  position: relative;
  background-color: rgba(0,0,0,.8);
  width:100%;
  max-width: 500px;
  margin:40px auto;
  color: white;
  border-radius: 5px;

  font-family: 'Sriracha', cursive;
  transition: all .5s ease;
  cursor: pointer;
}
.Conteiner-form .toggle{
  position: absolute;
  top: 20px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: 2px solid #80d8ff;
  border-bottom: 2px solid #80d8ff;
}
.Conteiner-form .toggle span {
  letter-spacing: 1px;
}
.Conteiner-form .toggle:hover{
  border-top: 2px solid #ff7043;
  border-bottom: 2px solid #ff7043;
}
.Conteiner-form input[type="text"],
.Conteiner-form input[type="password"],
.Conteiner-form input[type="email"]{
  outline: none;
  display: block;
  width: 100%;
  padding: 15px 0;
  border-radius: 2px;
  border-bottom: 4px solid #ff7043;
  font-family: 'Sriracha', cursive;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px;
  transition: all .5s ease;
}
.Conteiner-form input[type="text"]:focus,
.Conteiner-form input[type="password"]:focus,
.Conteiner-form input[type="email"]:focus{
    border-bottom: 4px solid #80d8ff;
    padding: 15px 0;
}
.Conteiner-form input[type="submit"]{
  background: #0091ea;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  font-family: 'Sriracha', cursive;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all .5s ease;
}
.Conteiner-form input[type="submit"]:hover{
  background: rgba(0,117,217,0.7);
}

.Conteiner-form .reset-password{
  background: rgba(0,117,217,0.7);
  color: white;
  width: 100%;
  padding: 15px 0;

  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.Conteiner-form .reset-password a{
  color: white;
  text-decoration: none;
  font-size: 16px;

}
.Conteiner-form .formulario{
  padding: 40px;
  display: none;
}
.Conteiner-form .formulario:nth-child(3){
  display: block;
}
